{% extends "layout.html" %}
{% block content %}
<div class="container-fluid info">
  <div class="row justify-content-center info-name">
    <h2>Version History</h2>
  </div>
  <div class="row justify-content-center info-desc">
    <h2>Past versions with code, screenshots, and scores</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 d-flex justify-content-center version-container">
      <a href="https://github.com/joesposito8/lichess-predictor">v2.0.0</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 d-flex justify-content-center version-container">
      <a href="https://github.com/joesposito8/lichess-predictor/releases/tag/v1.0.0">v1.0.0</a>
    </div>
  </div>
</div>
{% endblock %}
