{% extends "layout.html" %}
{% block content %}
<div class="body-container">
  <div class="form-info">
    <div class="form-info-title">
      <h2>Version 1</h2>
    </div>
    <div class="form-info-desc">
      <h2>7-30-20</h2>
    </div>
  </div>
  <div class="version-screenshots">
    <h2>Screenshots</h2>
    <img src="/static/Home_v1.png" id="home-v1">
    <img src="/static/Results_v1.png" id="results-v1">
  </div>
  <div class="version-code">
    <a href="https://github.com/joesposito8/lichess-predictor/releases/tag/v1.0.0">Code</a>
  </div>
</div>
{% endblock %}
